In [1]:
# libraries
import pandas as pd

In [2]:
#read Json file

df = pd.read_json("availableRental.json")

In [4]:
#find mean by no. of bedrooms and FSA
df_aggregate = df.groupby(["FSA", "bedrooms"])["price"].mean()

In [19]:
df_aggregate.head()

FSA  bedrooms
     1.0         2098.75
     2.0         2075.00
L1T  3.0         1250.00
L3P  3.0         1300.00
L3S  4.0         2300.00
Name: price, dtype: float64

In [18]:
df_updated = df_aggregate.reset_index()

In [20]:
df_updated.head()

   FSA bedrooms    price
0             1  2098.75
1             2  2075.00
2  L1T        3  1250.00
3  L3P        3  1300.00
4  L3S        4  2300.00

In [21]:
df_updated.rename(columns={"price" : "average_price"}, inplace=True)

In [23]:
df_updated.head()

   FSA bedrooms  average_price
0             1        2098.75
1             2        2075.00
2  L1T        3        1250.00
3  L3P        3        1300.00
4  L3S        4        2300.00

In [24]:
#save to file
df_updated.to_json("Rental_price_aggregate.json")