In [2]:
# libraries
import pandas as pd

In [3]:
#read Json file

df = pd.read_json("availableRental.json")

In [4]:
df.dtypes

FSA                     object
bathrooms               object
bedrooms                object
description             object
furnished               object
id                      object
image                   object
lat                    float64
long                   float64
pet_friendly              bool
post_published_date     object
postal_code             object
price                    int64
rental_type             object
source                  object
sqft                    object
title                   object
url                     object
dtype: object

In [29]:
#find mean by no. of bedrooms and FSA
df_aggregate = df.groupby(["FSA", "post_published_date", "bedrooms"])["price"].mean()

In [30]:
df_aggregate.head()

FSA  post_published_date  bedrooms
     2020-10-18           1.0         2995.0
     2020-10-19           1.0         1700.0
     2020-10-20           1.0         1800.0
     2020-10-21           2.0         1750.0
     2020-10-22           2.0         2400.0
Name: price, dtype: float64

In [31]:
df_updated = df_aggregate.reset_index()

In [32]:
df_updated.head()

  FSA post_published_date bedrooms   price
0              2020-10-18        1  2995.0
1              2020-10-19        1  1700.0
2              2020-10-20        1  1800.0
3              2020-10-21        2  1750.0
4              2020-10-22        2  2400.0

In [33]:
df_updated.rename(columns={"price" : "average_price"}, inplace=True)

In [34]:
df_updated.head()

  FSA post_published_date bedrooms  average_price
0              2020-10-18        1         2995.0
1              2020-10-19        1         1700.0
2              2020-10-20        1         1800.0
3              2020-10-21        2         1750.0
4              2020-10-22        2         2400.0

In [35]:
#save to file
df_updated.to_json("Rental_price_aggregate.json")