In [10]:
# libraries
import pandas as pd

In [259]:
#read Json file

df = pd.read_json("availableRental.json")

In [310]:
df.head()

,FSA,bathrooms,bedrooms,description,furnished,id,image,lat,long,pet_friendly,post_published_date,postal_code,price,rental_type,source,sqft,title,url,first
0,M6R,2,2,2BR / 2Ba available oct 1 loft w/d in unit car...,None,c_7200538781,https://images.craigslist.org/00Z0Z_betPb5YXm1...,43.652602,-79.447028,False,2020-09-21,M6R 3A2,4500,loft,craigslist,,RONCESVALLES-2 BED/2 BATH/1 PARKING-MORROW AVE,https://toronto.craigslist.org/tor/apa/d/toron...,M
1,M4C,1,2,2BR / 1Ba available now duplex w/d in unit/ 2b...,None,c_7200537147,https://images.craigslist.org/00J0J_fmjnKOiOAS...,43.691300,-79.311600,False,2020-09-21,M4C 5J7,2150,duplex,craigslist,,2 Bedroom Upper Floor Unit for Lease - Woodbin...,https://toronto.craigslist.org/tor/apa/d/east-...,M
2,M6H,1.5,2,2BR / 1.5Ba 1200ft2 available oct 1 cats are O...,None,c_7200474055,https://images.craigslist.org/00k0k_8VUSONV0S6...,43.657080,-79.443491,True,2020-09-21,M6H 4A2,2850,apartment,craigslist,1200,Brockton Village Main and 2nd Floor Apartment,https://toronto.craigslist.org/tor/apa/d/toron...,M
3,M5G,2,2,2BR / 2Ba 1319ft2 available now apartment w/d ...,None,c_7200494004,https://images.craigslist.org/01515_dp6vQPhcMZ...,43.659357,-79.382701,False,2020-09-21,M5G 2K2,4095,apartment,craigslist,1319,Aura Condos | 2 Beds + Den / 2 Baths | Parking,https://toronto.craigslist.org/tor/apa/d/toron...,M
4,M5A,1,1,1BR / 1Ba available nov 1 apartment w/d in uni...,None,c_7200455622,https://images.craigslist.org/00k0k_biOyCxc3GH...,43.652477,-79.363681,False,2020-09-21,M5A 1K6,1995,suite,craigslist,,The King East | 1 Bedroom + 1 Bath,https://toronto.craigslist.org/tor/apa/d/toron...,M

In [260]:
df["first"] = df['FSA'].astype(str).str[0]

In [361]:
df_cleaned_full = df.loc[(df['first'] == "M") 
                         & (df["price"] < 10000) 
                         & (df["bedrooms"] != 0) 
                         & (df["bedrooms"]!= "") 
                         & (df["post_published_date"] > "2020-09-18")]

In [362]:
df_cleaned_oneortwo = df_cleaned_full.loc[(df_cleaned_full["bedrooms"] == 1) | (df_cleaned_full["bedrooms"] == 2)]

In [363]:
#find mean by no. of bedrooms and FSA
df_aggregate_oneortwo = df_cleaned_oneortwo.groupby(["FSA", "post_published_date", "bedrooms"])["price"].mean()

In [364]:
df_intermediate_oneortwo= df_aggregate_oneortwo.reset_index()

In [365]:
df_overall_oneortwo = df_cleaned_oneortwo.groupby(["post_published_date", "bedrooms"])["price"].mean()

In [366]:
df_overall_intermediate_oneortwo= df_overall_oneortwo.reset_index()

In [367]:
df_overall_intermediate_oneortwo["FSA"] = "Overall"

In [368]:
df_cleaned_threeormore = df_cleaned_full.loc[df_cleaned_full["bedrooms"] > 2]

In [369]:
df_overall_threeormore = df_cleaned_threeormore.groupby(["post_published_date"])["price"].mean()

In [370]:
df_overall_intermediate_threeormore= df_overall_threeormore.reset_index()

In [371]:
df_overall_intermediate_threeormore["FSA"] = "Overall"

In [372]:
df_overall_intermediate_threeormore["bedrooms"] = "3 or More"

In [373]:
df_threeormore = df_cleaned_threeormore.groupby(["FSA", "post_published_date"])["price"].mean()

In [374]:
df_threeormore_intermediate= df_threeormore.reset_index()

In [375]:
df_threeormore_intermediate["bedrooms"] = "3 or More"

In [377]:
full_df = pd.concat([df_intermediate_oneortwo, df_threeormore_intermediate, df_overall_intermediate_oneortwo, df_overall_intermediate_threeormore], sort=True, ignore_index=True)

In [380]:
full_df.rename(columns={"price" : "average_price"}, inplace=True)

In [381]:
#save to file
full_df.to_json("RentalPrice.json")

In [382]:
#save to file
full_df.to_csv("RentalPrice.csv")