In [1]:
# libraries
import pandas as pd

In [49]:
#read Json file

df = pd.read_json("rentalTrend.json")

In [50]:
df.head()

,FSA,bathrooms,bedrooms,description,furnished,id,image,lat,long,pet_friendly,post_published_date,postal_code,price,rental_type,source,sqft,title,url
0,M5B,0,1,1BR / 0Ba furnished apartment/ 1br -Brand new ...,True,c_7195819164,None,43.657200,-79.378300,False,2020-09-21,M5B 1Y2,995,apartment,craigslist,,1bedroom+1den near Eaton Center,https://toronto.craigslist.org/tor/apa/d/toron...
1,M5R,0,1,1BR / 0Ba furnished apartment/ 1br -Spectacula...,True,c_7195700072,None,43.673600,-79.403500,False,2020-09-21,M5R 2R8,1220,condo,craigslist,,Top Floor Condo For Rent,https://toronto.craigslist.org/tor/apa/d/centr...
2,M6H,2,2,2BR / 2Ba 1100ft2 available nov 1 cats are OK ...,None,c_7200564066,https://images.craigslist.org/00202_iyRnxvT5sc...,43.665500,-79.437800,True,2020-09-21,M6H 4B9,3000,townhouse,craigslist,1100,Contemporary 2+1 bedroom townhouse w/ parking,https://toronto.craigslist.org/tor/apa/d/west-...
3,M5V,2,2,2BR / 2Ba available nov 15 loft w/d in unit at...,None,c_7196251096,https://images.craigslist.org/00O0O_fAJia8pnVQ...,43.647329,-79.395794,False,2020-09-21,M5V,4500,loft,craigslist,,RICHMOND/SPADINA-2 BED/2 BATH/1 PARKING-CAMDEN ST,https://toronto.craigslist.org/tor/apa/d/toron...
4,M6G,0,1,1BR / 0Ba furnished apartment/ 1br -Newly reno...,True,c_7195818373,None,43.668300,-79.420500,False,2020-09-21,M6G 3B4,977,apartment,craigslist,,1BDR Downtown Toronto apartment unit for rent,https://toronto.craigslist.org/tor/apa/d/downt...

# Averages by FSA

In [51]:
df["first"] = df['FSA'].astype(str).str[0]

In [52]:
df_cleaned_full = df.loc[(df['first'] == "M") 
                         & (df["price"] < 10000) 
                         & (df["bedrooms"] != 0) 
                         & (df["bedrooms"]!= "") 
                         & (df["post_published_date"] > "2020-09-18")]

In [53]:
df_cleaned_oneortwo = df_cleaned_full.loc[(df_cleaned_full["bedrooms"] == 1) | (df_cleaned_full["bedrooms"] == 2)]

In [54]:
#find mean by no. of bedrooms and FSA - one/Two bedrooms
df_aggregate_oneortwo = df_cleaned_oneortwo.groupby(["FSA", "post_published_date", "bedrooms"])["price"].mean()

In [55]:
df_intermediate_oneortwo= df_aggregate_oneortwo.reset_index()

In [56]:
df_overall_oneortwo = df_cleaned_oneortwo.groupby(["post_published_date", "bedrooms"])["price"].mean()

In [57]:
df_overall_intermediate_oneortwo= df_overall_oneortwo.reset_index()

In [58]:
df_overall_intermediate_oneortwo["FSA"] = "Overall"

In [59]:
#find mean by no. of bedrooms and FSA - one/Two bedrooms
df_cleaned_threeormore = df_cleaned_full.loc[df_cleaned_full["bedrooms"] > 2]

In [60]:
df_overall_threeormore = df_cleaned_threeormore.groupby(["post_published_date"])["price"].mean()

In [61]:
df_overall_intermediate_threeormore= df_overall_threeormore.reset_index()

In [62]:
df_overall_intermediate_threeormore["FSA"] = "Overall"

In [63]:
df_overall_intermediate_threeormore["bedrooms"] = "3 or More"

In [64]:
df_threeormore = df_cleaned_threeormore.groupby(["FSA", "post_published_date"])["price"].mean()

In [65]:
df_threeormore_intermediate= df_threeormore.reset_index()

In [66]:
df_threeormore_intermediate["bedrooms"] = "3 or More"

In [67]:
#combine datasets
full_df = pd.concat([df_intermediate_oneortwo, df_threeormore_intermediate, df_overall_intermediate_oneortwo, df_overall_intermediate_threeormore], sort=True, ignore_index=True)

In [68]:
full_df.rename(columns={"price" : "average_price"}, inplace=True)

In [69]:
#save to file as Json
full_df.to_json("RentalPrice.json")

In [70]:
#save to file as CSV
full_df.to_csv("RentalPrice.csv")

# Find averages by drivers/clusters

In [71]:
#read in cluster dataframe
df_cluster = pd.read_csv("RentalTrendWClusterID.csv")

In [72]:
df_cluster.head()

,Unnamed: 0,fsa,bathrooms,bedrooms,description,furnished,id,image,lat,long,...,Food & Housing,Education & Employment,Avg_Age,avg_income,Assault,Auto Theft,Break and Enter,Robbery,Theft Over,cluster
0,0,M5B,0.0,1.0,1BR / 0Ba furnished apartment/ 1br -Brand new ...,YES,c_7195819164,1,43.657200,-79.378300,...,9,4,36.6,46121.436,1212,96,280,246,65,2.0
1,30,M5B,1.0,0.0,0BR / 1Ba 600ft2 available oct 31 furnished co...,YES,c_7199431318,1,43.654351,-79.379160,...,9,4,36.6,46121.436,1212,96,280,246,65,1.0
2,66,M5B,1.0,0.0,0BR / 1Ba 600ft2 available oct 30 furnished co...,YES,c_7200468956,1,43.654382,-79.378946,...,9,4,36.6,46121.436,1212,96,280,246,65,1.0
3,78,M5B,1.5,1.0,1BR / 1.5Ba 564ft2 available now cats are OK -...,NOT_MENTIONED,c_7200513078,1,43.655147,-79.374925,...,9,4,36.6,46121.436,1212,96,280,246,65,0.0
4,142,M5B,1.0,0.0,0BR / 1Ba available now cats are OK - purrr do...,YES,c_7200327071,1,43.657200,-79.378300,...,9,4,36.6,46121.436,1212,96,280,246,65,0.0

In [73]:
df_cluster.columns

Index(['Unnamed: 0', 'fsa', 'bathrooms', 'bedrooms', 'description',
       'furnished', 'id', 'image', 'lat', 'long', 'pet_friendly',
       'post_published_date', 'pred', 'price', 'rental_type', 'sqft', 'title',
       'url', 'Community Services', 'Health Services', 'Financial Services',
       'Law & Government', 'Transportation', 'Food & Housing',
       'Education & Employment', 'Avg_Age', 'avg_income', 'Assault',
       'Auto Theft', 'Break and Enter', 'Robbery', 'Theft Over', 'cluster'],
      dtype='object')

In [74]:
#select columns of interest
df_cluster = df_cluster[["id", "cluster", "image", "pet_friendly","furnished"]]

In [75]:
df_cluster

                 id cluster  image  pet_friendly      furnished
0      c_7195819164     2.0      1         False            YES
1      c_7199431318     1.0      1         False            YES
2      c_7200468956     1.0      1         False            YES
3      c_7200513078     0.0      1          True  NOT_MENTIONED
4      c_7200327071     0.0      1          True            YES
...             ...     ...    ...           ...            ...
11853  c_7221283051     2.0      1         False  NOT_MENTIONED
11854  c_7222926094     1.0      1         False  NOT_MENTIONED
11855  c_7222920460     2.0      1         False  NOT_MENTIONED
11856  c_7222873722     2.0      1         False  NOT_MENTIONED
11857  c_7225463073     2.0      1         False  NOT_MENTIONED

[11858 rows x 5 columns]

In [76]:
#update naming
df_cluster.rename(columns={"image":"image_boolean", "pet_friendly": "pet_friendly_cl", "furnished": "furnished_update"}, inplace=True)

In [77]:
df_cluster

                 id cluster  image_boolean  pet_friendly_cl furnished_update
0      c_7195819164     2.0              1            False              YES
1      c_7199431318     1.0              1            False              YES
2      c_7200468956     1.0              1            False              YES
3      c_7200513078     0.0              1             True    NOT_MENTIONED
4      c_7200327071     0.0              1             True              YES
...             ...     ...            ...              ...              ...
11853  c_7221283051     2.0              1            False    NOT_MENTIONED
11854  c_7222926094     1.0              1            False    NOT_MENTIONED
11855  c_7222920460     2.0              1            False    NOT_MENTIONED
11856  c_7222873722     2.0              1            False    NOT_MENTIONED
11857  c_7225463073     2.0              1            False    NOT_MENTIONED

[11858 rows x 5 columns]

In [78]:
#read Json file

df = pd.read_json("rentalTrend.json")

In [79]:
df

,FSA,bathrooms,bedrooms,description,furnished,id,image,lat,long,pet_friendly,post_published_date,postal_code,price,rental_type,source,sqft,title,url
0,M5B,0,1,1BR / 0Ba furnished apartment/ 1br -Brand new ...,True,c_7195819164,None,43.657200,-79.378300,False,2020-09-21,M5B 1Y2,995,apartment,craigslist,,1bedroom+1den near Eaton Center,https://toronto.craigslist.org/tor/apa/d/toron...
1,M5R,0,1,1BR / 0Ba furnished apartment/ 1br -Spectacula...,True,c_7195700072,None,43.673600,-79.403500,False,2020-09-21,M5R 2R8,1220,condo,craigslist,,Top Floor Condo For Rent,https://toronto.craigslist.org/tor/apa/d/centr...
2,M6H,2,2,2BR / 2Ba 1100ft2 available nov 1 cats are OK ...,None,c_7200564066,https://images.craigslist.org/00202_iyRnxvT5sc...,43.665500,-79.437800,True,2020-09-21,M6H 4B9,3000,townhouse,craigslist,1100,Contemporary 2+1 bedroom townhouse w/ parking,https://toronto.craigslist.org/tor/apa/d/west-...
3,M5V,2,2,2BR / 2Ba available nov 15 loft w/d in unit at...,None,c_7196251096,https://images.craigslist.org/00O0O_fAJia8pnVQ...,43.647329,-79.395794,False,2020-09-21,M5V,4500,loft,craigslist,,RICHMOND/SPADINA-2 BED/2 BATH/1 PARKING-CAMDEN ST,https://toronto.craigslist.org/tor/apa/d/toron...
4,M6G,0,1,1BR / 0Ba furnished apartment/ 1br -Newly reno...,True,c_7195818373,None,43.668300,-79.420500,False,2020-09-21,M6G 3B4,977,apartment,craigslist,,1BDR Downtown Toronto apartment unit for rent,https://toronto.craigslist.org/tor/apa/d/downt...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11472,M6G,1,2,2BR / 1Ba available dec 1 apartment/ 2br -356 ...,,c_7221310546,https://images.craigslist.org/00q0q_7sRem6tRqA...,43.668300,-79.420500,False,2020-10-27,M6G 3B5,1500,apartment,craigslist,,"2 BEDROOM - OPEN LIV/KIT/DIN, LARGE CLOSETS, D...",https://toronto.craigslist.org/tor/apa/d/downt...
11473,M6G,1,1,1BR / 1Ba available dec 1 apartment/ 1br -Litt...,,c_7221309395,https://images.craigslist.org/00Y0Y_2UORaTGdts...,43.668300,-79.420500,False,2020-10-27,M6G 3B5,2700,house,craigslist,,"FAB 2 STOREY COACH HOUSE, OPEN LIV/DIN, HUGE B...",https://toronto.craigslist.org/tor/apa/d/downt...
11474,M6K,1,2,2BR / 1Ba available now apartment/ 2br -2 BEDR...,,c_7221309912,https://images.craigslist.org/00p0p_blnT35BELp...,43.638300,-79.430100,False,2020-10-27,M6K 1G7,1500,apartment,craigslist,,"2 BEDROOM OPEN CONCEPT LIVING, DINING, KITCHEN...",https://toronto.craigslist.org/tor/apa/d/toron...
11475,M6G,1,3,3BR / 1Ba available dec 1 apartment/ 3br -Litt...,,c_7220860886,https://images.craigslist.org/00Y0Y_2UORaTGdts...,43.668300,-79.420500,False,2020-10-26,M6G 3B5,2700,house,craigslist,,"FAB 3 STOREY THREE BEDROOM, OPEN LIV/DIN, HUGE...",https://toronto.craigslist.org/tor/apa/d/downt...
11476,M6G,1,2,2BR / 1Ba available dec 1 apartment/ 2br -Litt...,,c_7220860410,https://images.craigslist.org/00Y0Y_2UORaTGdts...,43.668300,-79.420500,False,2020-10-26,M6G 3B5,2700,house,craigslist,,"FAB 3 STOREY TWO BEDROOM , OPEN LIV/DIN, HUGE ...",https://toronto.craigslist.org/tor/apa/d/downt...

In [113]:
#merge
combined_df = pd.merge(df_cluster, df, on ="id")

In [164]:
combined_df.head(20)

,id,cluster,image_boolean,pet_friendly_cl,furnished_update,FSA,bathrooms,bedrooms,description,furnished,...,long,pet_friendly,post_published_date,postal_code,price,rental_type,source,sqft,title,url
0,c_7195819164,2.0,1,False,YES,M5B,0,1,1BR / 0Ba furnished apartment/ 1br -Brand new ...,True,...,-79.378300,False,2020-09-21,M5B 1Y2,995,apartment,craigslist,,1bedroom+1den near Eaton Center,https://toronto.craigslist.org/tor/apa/d/toron...
1,c_7199431318,1.0,1,False,YES,M5B,1,0,0BR / 1Ba 600ft2 available oct 31 furnished co...,True,...,-79.379160,False,2020-09-21,M5B 1V8,1699,condo,craigslist,600,"Core Downtown, FULLY FURNISHED Studio Condo w/...",https://toronto.craigslist.org/tor/apa/d/toron...
2,c_7200468956,1.0,1,False,YES,M5B,1,0,0BR / 1Ba 600ft2 available oct 30 furnished co...,True,...,-79.378946,False,2020-09-21,M5B 1V8,1699,condo,craigslist,600,"FULLY FURNISHED STUDIO CONDO w/Internet, W/D, ...",https://toronto.craigslist.org/tor/apa/d/toron...
3,c_7200513078,0.0,1,True,NOT_MENTIONED,M5B,1.5,1,1BR / 1.5Ba 564ft2 available now cats are OK -...,None,...,-79.374925,True,2020-09-21,M5B 1B3,2400,loft,craigslist,564,Brand New Loft Style Condo (Near Yonge & Dundas),https://toronto.craigslist.org/tor/apa/d/toron...
4,c_7200327071,0.0,1,True,YES,M5B,1,0,0BR / 1Ba available now cats are OK - purrr do...,True,...,-79.378300,True,2020-09-21,M5B 1Y2,1680,condo,craigslist,,brand new never lived in before locker include...,https://toronto.craigslist.org/tor/apa/d/toron...
5,c_7188364044,1.0,1,False,YES,M5B,1,1,1BR / 1Ba 575ft2 available now furnished condo...,True,...,-79.378300,False,2020-09-21,M5B 1Y2,2695,condo,craigslist,575,"Modern 1 Bed, 1 Bath with Balcony and Spacious...",https://toronto.craigslist.org/tor/apa/d/toron...
6,c_7185552789,1.0,1,False,YES,M5B,1,1,1BR / 1Ba 650ft2 available oct 1 furnished con...,True,...,-79.378300,False,2020-09-21,M5B 1Y2,2495,condo,craigslist,650,"Stylish 1 Bedroom, 1 Bath with Stainless Steel...",https://toronto.craigslist.org/tor/apa/d/toron...
7,c_7188497307,1.0,1,False,YES,M5B,2,2,2BR / 2Ba 843ft2 available now condo w/d in un...,True,...,-79.380765,False,2020-09-21,M5B 1J2,3500,condo,craigslist,843,Balmuto: Fully Furnished 2 Bedroom Corner Cond...,https://toronto.craigslist.org/tor/apa/d/toron...
8,c_7188395191,1.0,1,False,NOT_MENTIONED,M5B,1,1,1BR / 1Ba 505ft2 available now condo w/d in un...,None,...,-79.378300,False,2020-09-21,M5B 1Y2,1800,condo,craigslist,505,The Met II: Modern 1 Bdrm Unfurnished Condo fo...,https://toronto.craigslist.org/tor/apa/d/toron...
9,c_7198694875,1.0,1,False,YES,M5B,1,0,0BR / 1Ba 500ft2 available now condo w/d in un...,True,...,-79.378300,False,2020-09-21,M5B 1Y2,1800,condo,craigslist,500,PANTAGES condo: Fully Furnished Studio/Bachelo...,https://toronto.craigslist.org/tor/apa/d/toron...
10,c_7199745457,0.0,1,True,NOT_MENTIONED,M5B,1,1,1BR / 1Ba available nov 1 cats are OK - purrr ...,None,...,-79.378300,True,2020-09-20,M5B 1Y2,1800,condo,craigslist,,brand new feel 600+sqft + den mins to yonge/du...,https://toronto.craigslist.org/tor/apa/d/toron...
11,c_7187067281,1.0,1,False,NOT_MENTIONED,M5B,1,1,1BR / 1Ba 565ft2 available nov 1 apartment w/d...,None,...,-79.378858,False,2020-09-20,M5B 1T8,1980,condo,craigslist,565,Yonge/Dundas Pantages 1 bdrm Condo,https://toronto.craigslist.org/tor/apa/d/toron...
12,c_7200065091,1.0,1,False,YES,M5B,1,0,0BR / 1Ba 600ft2 available oct 29 furnished co...,True,...,-79.378989,False,2020-09-21,M5B 1V8,1699,condo,craigslist,600,"Prime Downtown Location, FULLY FURNISHED Condo...",https://toronto.craigslist.org/tor/apa/d/toron...
13,c_7198573442,1.0,1,False,YES,M5B,1,0,0BR / 1Ba 600ft2 available oct 30 furnished co...,True,...,-79.378967,False,2020-09-20,M5B 1V8,1699,condo,craigslist,600,Looking for a FURNISHED CONDO w/Wi-Fi? This is...,https://toronto.craigslist.org/tor/apa/d/toron...
14,c_7199534860,1.0,1,False,YES,M5B,1,0,0BR / 1Ba 600ft2 available nov 1 furnished con...,True,...,-79.378967,False,2020-09-20,M5B 1V8,1699,condo,craigslist,600,"Great Location, FULLY FURNISHED Condo w/Wi-Fi,...",https://toronto.craigslist.org/tor/apa/d/toron...
15,c_7199349058,0.0,1,True,NOT_MENTIONED,M5B,1,1,1BR / 1Ba 450ft2 cats are OK - purrr dogs are ...,None,...,-79.374965,True,2020-09-19,M5B 1E5,1700,condo,craigslist,450,Jarvis and Dundas | 1 Bedroom | Immediate Occu...,https://toronto.craigslist.org/tor/apa/d/toron...
16,c_7194681444,1.0,1,False,NOT_MENTIONED,M5B,2,3,3BR / 2Ba 900ft2 available now condo w/d in un...,None,...,-79.383109,False,2020-09-18,M5B 2M9,3900,condo,craigslist,900,"NEW YC CONDOS #2811!3BEDS,2BATHS,PARKING,WRAPA...",https://toronto.craigslist.org/tor/apa/d/toron...
17,c_7195502627,1.0,1,False,NOT_MENTIONED,M5B,1,1,1BR / 1Ba 600ft2 available now condo w/d in un...,None,...,-79.379344,False,2020-09-20,M5B 1L6,1890,condo,craigslist,600,Church/Carlton Brand New 1B+D Condo + Storage ...,https://toronto.craigslist.org/tor/apa/d/toron...
18,c_7199104442,0.0,1,True,YES,M5B,1,1,1BR / 1Ba 458ft2 available now cats are OK - p...,True,...,-79.378300,True,2020-09-19,M5B 1Y2,1000,suite,craigslist,458,Brand new 1 bed/bath Apt. for rent *,https://toronto.craigslist.org/tor/apa/d/toron...
19,c_7194676506,1.0,1,False,NOT_MENTIONED,M5B,2,2,2BR / 2Ba 750ft2 available now condo w/d in un...,None,...,-79.383109,False,2020-09-18,M5B 2M9,2700,condo,craigslist,750,"NEW YC CONDOS#1603!2BEDS,2BATHS,WRAPAROUND BAL...",https://toronto.craigslist.org/tor/apa/d/toron...

## Bathrooms

In [115]:
#find mean by no. of bathrooms and cluster 
df_aggregate_cluster_bathrooms= combined_df.groupby(["cluster", "bathrooms"])["price"].mean()

In [116]:
df_aggregate_cluster_bathrooms_int = df_aggregate_cluster_bathrooms.reset_index()

In [117]:
df_aggregate_cluster_bathrooms_int

                    cluster bathrooms          price
0                       0.0         0    1066.480000
1                       0.0         1    1885.659856
2                       0.0       1.5    2442.590476
3                       0.0         2    2813.220211
4                       0.0       2.5    3029.464286
5                       0.0         3    3648.075000
6                       0.0       3.5    5765.000000
7                       0.0         4    4208.000000
8                       0.0         5    4613.500000
9                       0.0              1696.030303
10                      1.0         0    1433.333333
11                      1.0         1    2029.535289
12                      1.0       1.5    2223.290909
13                      1.0         2    2761.748099
14                      1.0       2.5    5202.142857
15                      1.0         3    4619.090909
16                      1.0              2015.000000
17                      2.0         0    1589.552632
18                      2.0         1    1860.776619
19                      2.0       1.5    2237.185841
20                      2.0         2    3070.503968
21                      2.0       2.5    3508.148148
22                      2.0         3    3195.187919
23                      2.0       3.5    4388.000000
24                      2.0         4    4659.238095
25                      2.0         5    6666.666667
26                      2.0         6    6000.000000
27                      2.0       8.5    6500.000000
28                      2.0              1679.046632
29  Not Feasible to predict         0       0.000000
30  Not Feasible to predict         1   23432.285714
31  Not Feasible to predict       1.5     780.000000
32  Not Feasible to predict         2    4905.125000
33  Not Feasible to predict       2.5   11422.500000
34  Not Feasible to predict         3  187274.375000
35  Not Feasible to predict       3.5   16500.000000
36  Not Feasible to predict         4   11711.428571
37  Not Feasible to predict         5   13995.000000
38  Not Feasible to predict         6    3650.000000
39  Not Feasible to predict         7   11500.000000
40  Not Feasible to predict               128.857143

In [118]:
#find mean by no. of bathrooms /overall
df_aggregate_overall_bathrooms= combined_df.groupby("bathrooms")["price"].mean()

In [119]:
df_aggregate_overall_bathrooms_int= df_aggregate_overall_bathrooms.reset_index()

In [120]:
df_aggregate_overall_bathrooms_int["cluster"] ="overall"

In [121]:
df_aggregate_overall_bathrooms_int = df_aggregate_overall_bathrooms_int[["cluster", "bathrooms", "price"]]

In [122]:
df_aggregate_overall_bathrooms_int

    cluster bathrooms         price
0   overall         0   1190.076471
1   overall         1   2049.238849
2   overall       1.5   2289.078788
3   overall         2   2854.647059
4   overall       2.5   3964.393939
5   overall         3   9881.004348
6   overall       3.5   7223.500000
7   overall         4   6086.787879
8   overall         5   7478.230769
9   overall         6   4825.000000
10  overall         7  11500.000000
11  overall       8.5   6500.000000
12  overall             1684.522388

In [129]:
#combine datasets
full_bathrooms = pd.concat([df_aggregate_overall_bathrooms_int, df_aggregate_cluster_bathrooms_int])

In [135]:
full_bathrooms.dropna(inplace=True)

full_bathrooms.reset_index(inplace=True)

In [156]:
full_bathrooms.drop(columns="index", inplace=True)

In [157]:
full_bathrooms["Measure"] ="No_Bathrooms"

In [158]:
full_bathrooms.rename(columns ={"bathrooms":"measure_value"}, inplace=True)

In [159]:
full_bathrooms

                    cluster measure_value          price       Measure
0                   overall             0    1190.076471  No_Bathrooms
1                   overall             1    2049.238849  No_Bathrooms
2                   overall           1.5    2289.078788  No_Bathrooms
3                   overall             2    2854.647059  No_Bathrooms
4                   overall           2.5    3964.393939  No_Bathrooms
5                   overall             3    9881.004348  No_Bathrooms
6                   overall           3.5    7223.500000  No_Bathrooms
7                   overall             4    6086.787879  No_Bathrooms
8                   overall             5    7478.230769  No_Bathrooms
9                   overall             6    4825.000000  No_Bathrooms
10                  overall             7   11500.000000  No_Bathrooms
11                  overall           8.5    6500.000000  No_Bathrooms
12                  overall                  1684.522388  No_Bathrooms
13                      0.0             0    1066.480000  No_Bathrooms
14                      0.0             1    1885.659856  No_Bathrooms
15                      0.0           1.5    2442.590476  No_Bathrooms
16                      0.0             2    2813.220211  No_Bathrooms
17                      0.0           2.5    3029.464286  No_Bathrooms
18                      0.0             3    3648.075000  No_Bathrooms
19                      0.0           3.5    5765.000000  No_Bathrooms
20                      0.0             4    4208.000000  No_Bathrooms
21                      0.0             5    4613.500000  No_Bathrooms
22                      0.0                  1696.030303  No_Bathrooms
23                      1.0             0    1433.333333  No_Bathrooms
24                      1.0             1    2029.535289  No_Bathrooms
25                      1.0           1.5    2223.290909  No_Bathrooms
26                      1.0             2    2761.748099  No_Bathrooms
27                      1.0           2.5    5202.142857  No_Bathrooms
28                      1.0             3    4619.090909  No_Bathrooms
29                      1.0                  2015.000000  No_Bathrooms
30                      2.0             0    1589.552632  No_Bathrooms
31                      2.0             1    1860.776619  No_Bathrooms
32                      2.0           1.5    2237.185841  No_Bathrooms
33                      2.0             2    3070.503968  No_Bathrooms
34                      2.0           2.5    3508.148148  No_Bathrooms
35                      2.0             3    3195.187919  No_Bathrooms
36                      2.0           3.5    4388.000000  No_Bathrooms
37                      2.0             4    4659.238095  No_Bathrooms
38                      2.0             5    6666.666667  No_Bathrooms
39                      2.0             6    6000.000000  No_Bathrooms
40                      2.0           8.5    6500.000000  No_Bathrooms
41                      2.0                  1679.046632  No_Bathrooms
42  Not Feasible to predict             0       0.000000  No_Bathrooms
43  Not Feasible to predict             1   23432.285714  No_Bathrooms
44  Not Feasible to predict           1.5     780.000000  No_Bathrooms
45  Not Feasible to predict             2    4905.125000  No_Bathrooms
46  Not Feasible to predict           2.5   11422.500000  No_Bathrooms
47  Not Feasible to predict             3  187274.375000  No_Bathrooms
48  Not Feasible to predict           3.5   16500.000000  No_Bathrooms
49  Not Feasible to predict             4   11711.428571  No_Bathrooms
50  Not Feasible to predict             5   13995.000000  No_Bathrooms
51  Not Feasible to predict             6    3650.000000  No_Bathrooms
52  Not Feasible to predict             7   11500.000000  No_Bathrooms
53  Not Feasible to predict                   128.857143  No_Bathrooms

## Bedrooms

In [139]:
#find mean by no. of bedrooms and cluster 
df_aggregate_cluster_bedrooms= combined_df.groupby(["cluster", "bedrooms"])["price"].mean()

In [140]:
df_aggregate_cluster_bedrooms_int = df_aggregate_cluster_bedrooms.reset_index()

In [141]:
#find mean by no. of bedrooms /overall
df_aggregate_overall_bedrooms= combined_df.groupby("bedrooms")["price"].mean()

In [142]:
df_aggregate_overall_bedrooms_int= df_aggregate_overall_bedrooms.reset_index()

In [143]:
df_aggregate_overall_bedrooms_int["cluster"] ="overall"

In [144]:
df_aggregate_overall_bedrooms_int = df_aggregate_overall_bedrooms_int[["cluster", "bedrooms", "price"]]

In [145]:
#combine datasets
full_bedrooms = pd.concat([df_aggregate_overall_bedrooms_int, df_aggregate_cluster_bedrooms_int])

In [146]:
full_bedrooms.dropna(inplace=True)

full_bedrooms.reset_index(inplace=True)

In [149]:
full_bedrooms.drop(columns="index", inplace=True)

In [151]:
full_bedrooms["Measure"] ="No_Bedrooms"

In [154]:
full_bedrooms.rename(columns ={"bedrooms":"measure_value"}, inplace=True)

## Type

In [160]:
#find mean by rental type and cluster 
df_aggregate_cluster_type= combined_df.groupby(["cluster", "rental_type"])["price"].mean()

df_aggregate_cluster_type_int = df_aggregate_cluster_type.reset_index()

#find mean by rental type /overall
df_aggregate_overall_type= combined_df.groupby("rental_type")["price"].mean()

df_aggregate_overall_type_int= df_aggregate_overall_type.reset_index()

df_aggregate_overall_type_int["cluster"] ="overall"

df_aggregate_overall_type_int = df_aggregate_overall_type_int[["cluster", "rental_type", "price"]]

#combine datasets
full_type = pd.concat([df_aggregate_overall_type_int, df_aggregate_cluster_type_int])

full_type.dropna(inplace=True)

full_type.reset_index(inplace=True)

full_type.drop(columns="index", inplace=True)

full_type["Measure"] ="rental_type"

full_type.rename(columns ={"rental_type":"measure_value"}, inplace=True)

In [161]:
full_type

                    cluster measure_value         price      Measure
0                   overall     apartment   1821.306725  rental_type
1                   overall         condo   2459.468827  rental_type
2                   overall       cottage   2149.800000  rental_type
3                   overall        duplex   2561.084158  rental_type
4                   overall          flat   2070.757282  rental_type
5                   overall         house   3254.222992  rental_type
6                   overall          land   2460.000000  rental_type
7                   overall          loft   2636.027119  rental_type
8                   overall         suite   2048.765090  rental_type
9                   overall     townhouse   2876.559829  rental_type
10                      0.0     apartment   1852.133900  rental_type
11                      0.0         condo   2117.623635  rental_type
12                      0.0       cottage   2250.000000  rental_type
13                      0.0        duplex   2677.909091  rental_type
14                      0.0          flat   2136.114286  rental_type
15                      0.0         house   2254.878099  rental_type
16                      0.0          loft   2253.672566  rental_type
17                      0.0         suite   1907.284483  rental_type
18                      0.0     townhouse   2990.759494  rental_type
19                      1.0         condo   2265.426622  rental_type
20                      1.0        duplex   2725.000000  rental_type
21                      1.0          flat   2170.000000  rental_type
22                      1.0         house   3231.000000  rental_type
23                      1.0          loft   2640.368421  rental_type
24                      1.0         suite   2050.363636  rental_type
25                      1.0     townhouse   4539.080000  rental_type
26                      2.0     apartment   1824.949751  rental_type
27                      2.0       cottage   1749.000000  rental_type
28                      2.0        duplex   2514.611111  rental_type
29                      2.0          flat   2055.550000  rental_type
30                      2.0         house   2375.716060  rental_type
31                      2.0          land   2460.000000  rental_type
32                      2.0          loft   2979.696000  rental_type
33                      2.0         suite   2161.131805  rental_type
34                      2.0     townhouse   2478.434109  rental_type
35  Not Feasible to predict     apartment    663.312500  rental_type
36  Not Feasible to predict         condo  58278.714286  rental_type
37  Not Feasible to predict        duplex   2500.000000  rental_type
38  Not Feasible to predict          flat      1.000000  rental_type
39  Not Feasible to predict         house  65064.000000  rental_type
40  Not Feasible to predict         suite   1406.000000  rental_type
41  Not Feasible to predict     townhouse   3650.000000  rental_type

## Image

not including in final dataset given the low n of one group

In [162]:
#find mean by image presence and cluster 
df_aggregate_cluster_image= combined_df.groupby(["cluster", "image_boolean"])["price"].mean()

df_aggregate_cluster_image_int = df_aggregate_cluster_image.reset_index()

#find mean by rental type /overall
df_aggregate_overall_image= combined_df.groupby("image_boolean")["price"].mean()

df_aggregate_overall_image_int= df_aggregate_overall_image.reset_index()

df_aggregate_overall_image_int["cluster"] ="overall"

df_aggregate_overall_image_int = df_aggregate_overall_image_int[["cluster", "image_boolean", "price"]]

#combine datasets
full_image = pd.concat([df_aggregate_overall_image_int, df_aggregate_cluster_image_int])

full_image.dropna(inplace=True)

full_image.reset_index(inplace=True)

full_image.drop(columns="index", inplace=True)

full_image["Measure"] ="image"

full_image.rename(columns ={"image_boolean":"measure_value"}, inplace=True)

In [163]:
full_image

                   cluster  measure_value         price Measure
0                  overall              1   2390.047140   image
1                      0.0              1   2084.523714   image
2                      1.0              1   2290.901314   image
3                      2.0              1   2091.159489   image
4  Not Feasible to predict              1  31433.586957   image

In [172]:
df["image"].count()

11212

In [173]:
df["FSA"].count()

11477

## Furnished

In [174]:
#find mean by furnished presence and cluster 
df_aggregate_cluster_furnished= combined_df.groupby(["cluster", "furnished_update"])["price"].mean()

df_aggregate_cluster_furnished_int = df_aggregate_cluster_furnished.reset_index()

#find mean by furnished presence /overall
df_aggregate_overall_furnished= combined_df.groupby("furnished_update")["price"].mean()

df_aggregate_overall_furnished_int= df_aggregate_overall_furnished.reset_index()

df_aggregate_overall_furnished_int["cluster"] ="overall"

df_aggregate_overall_furnished_int = df_aggregate_overall_furnished_int[["cluster", "furnished_update", "price"]]

#combine datasets
full_furnished = pd.concat([df_aggregate_overall_furnished_int, df_aggregate_cluster_furnished_int])

full_furnished.dropna(inplace=True)

full_furnished.reset_index(inplace=True)

full_furnished.drop(columns="index", inplace=True)

full_furnished["Measure"] ="furnished"

full_furnished.rename(columns ={"furnished_update":"measure_value"}, inplace=True)

In [175]:
full_furnished

                    cluster  measure_value         price    Measure
0                   overall             NO   2188.611060  furnished
1                   overall  NOT_MENTIONED   2458.704171  furnished
2                   overall            YES   2252.210004  furnished
3                       0.0             NO   2065.718310  furnished
4                       0.0  NOT_MENTIONED   2112.583825  furnished
5                       0.0            YES   2006.782101  furnished
6                       1.0             NO   2337.055156  furnished
7                       1.0  NOT_MENTIONED   2205.228078  furnished
8                       1.0            YES   2481.222222  furnished
9                       2.0             NO   2133.425325  furnished
10                      2.0  NOT_MENTIONED   2109.518654  furnished
11                      2.0            YES   1978.424383  furnished
12  Not Feasible to predict             NO   1933.200000  furnished
13  Not Feasible to predict  NOT_MENTIONED  51615.156863  furnished
14  Not Feasible to predict            YES   6940.305556  furnished

## pets

In [176]:
#find mean by pets presence and cluster 
df_aggregate_cluster_pets= combined_df.groupby(["cluster", "pet_friendly_cl"])["price"].mean()

df_aggregate_cluster_pets_int = df_aggregate_cluster_pets.reset_index()

#find mean by pets type /overall
df_aggregate_overall_pets= combined_df.groupby("pet_friendly_cl")["price"].mean()

df_aggregate_overall_pets_int= df_aggregate_overall_pets.reset_index()

df_aggregate_overall_pets_int["cluster"] ="overall"

df_aggregate_overall_pets_int = df_aggregate_overall_pets_int[["cluster", "pet_friendly_cl", "price"]]

#combine datasets
full_pets = pd.concat([df_aggregate_overall_pets_int, df_aggregate_cluster_pets_int])

full_pets.dropna(inplace=True)

full_pets.reset_index(inplace=True)

full_pets.drop(columns="index", inplace=True)

full_pets["Measure"] ="pets"

full_pets.rename(columns ={"pet_friendly_cl":"measure_value"}, inplace=True)

In [177]:
full_pets

                   cluster  measure_value         price Measure
0                  overall          False   2522.894846    pets
1                  overall           True   2098.695257    pets
2                      0.0           True   2084.523714    pets
3                      1.0          False   2290.901314    pets
4                      2.0          False   2091.159489    pets
5  Not Feasible to predict          False  39411.507042    pets
6  Not Feasible to predict           True   4460.619048    pets

## Bring it all together

In [178]:
final = pd.concat([full_bathrooms, full_bedrooms, full_type, full_furnished, full_pets])

In [181]:
len(final)

160

In [184]:
#move into json file

final.to_csv("ClusteAgg.csv")

In [185]:
DF =pd.read_csv("ClusteAgg.csv")

In [188]:
DF=DF.drop(columns="Unnamed: 0")

In [190]:
DF.to_json("ClusteAgg.json")